:root{
    --sidebar-toggled: false;
    --sidebar-width: 11rem;
    --sidebar-item-margin-left: 1rem;
    --sidebar-title-icon-left: -3rem;
    --sidebar-title-text-margin-left: 1rem;
    --sidebar-welcome-text-left:calc(var(--sidebar-width) + 2rem);
    --canvas-width: calc(var(--sidebar-width)*(-1) + 100vw);
}

.alignIconToItemSide{
    padding: 0.5rem 0 0.5rem 1rem;
    width: 100%;
    overflow: hidden;
}

.alignIconToItemSide:active, .alignIconToItemSide:hover{
    background-color: darkblue;
}

.blackLink{
    color: black;
    text-decoration: none;
}

body{
    padding: 0;
}

.dashboard{
    margin-left: var(--sidebar-width);
    transition: margin-left 0.5s;
}

.homeIntro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 40%;
}

.homeIntro h1{
    margin: 7rem 0 3rem;
}

.homeIntro p{
    margin-bottom: 3rem;
}

.homeIntro Button{
    margin-bottom: 5rem;

}

.homeNav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid gray;
}

input{
    text-align: center;
    height: 2.25rem;
    border-style: solid;
    border-color: gray;
    border-radius: 6px;
    border-width: 1px;
    outline: none;
}

.navBarIcon{
    margin: 0 0.5rem 0 0.5rem;
    color: black;
}

.navBarIconContainer{
    justify-content: end;
    margin: 1rem 1rem 1rem 0;

}

.navBarSignUp{
    border-bottom: 1px solid lightgray;
    margin: 1rem 0 0 0;
    padding: 0 3rem;
}

.navigationBar{
    z-index:1;
    background-color: white;
    border-bottom-style: solid;
    border-color: darkgray;
    border-width: 1px;
    display: flex;
    justify-content: end;
    width: 100vw;
}

.settings{
    margin: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.settingsContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: 0.2rem 0;
}

.settingsInput{
    width: 100%;
    text-align: start;
    margin: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.settingsInputContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-evenly
}

.settingsText{
    width: 50%;
    text-align: end;
    justify-content: flex-end;
    margin: 0.2rem;
}

.sideBar{
    position: fixed;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    height: 100vh;
    width: var(--sidebar-width);
    z-index: 2;
    background-color: turquoise;
    transition: width 0.5s;
    transition-timing-function: ease;
}

.sideBarIcon{
    margin: 0.3rem 0 0.3rem 0;
    width: 100%;
    align-self: center;
    color: black;
}

.sideBarItem{
    margin-left: var(--sidebar-item-margin-left);
    align-self: center;
    color: black;
    text-decoration: none;
    transition: margin-left 0.5s;
    font-size: x-large;
}

.sideBarTitle{
    overflow: hidden;
}

.sideBarTitleIcon{
    margin: 0.5rem 0 2rem 0;
    position: absolute;
    left: var(--sidebar-title-icon-left);
    transition: left 0.5s;

}

.sideBarTitleText{
    margin: 0.5rem 0.5rem 2rem 0;
    margin-left: var(--sidebar-title-text-margin-left);
    transition: margin-left 0.5s;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    
}

.sideItemsContainer{
    display:flex;
    flex-direction:column;
    align-content: center;
    margin: 0 auto 0 auto;
    white-space: nowrap;
}

.signUp{
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
}

.signUpBenefits{
    height:fit-content;
    margin:12rem 0 0 5rem;
    padding-right: 0.4rem;
    border-style: hidden;
    border-radius: 15px;
    background-color: turquoise;
}

.signUpButton{
    width: 100%;
    height: 2.25rem;
    background-color: turquoise;
}

.signUpButtonsContainer{
    margin-top: 1.4rem;
}

.signUpFormContainer{
    margin:5rem 0 0 5rem;
    padding: 3rem;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 15px;
}

.signUpGoogleIcon{
    margin-right: 0.5rem;
    align-self: center;
}

.signUpInput{
    width: 100%;
    margin: 1.4rem 0 0 0;
    padding-left: 0.6rem;
    height: 2.25rem;
    border-style: solid;
    border-color: gray;
    border-radius: 6px;
    border-width: 1px;
    outline: none;
}

.signUpInput:focus{
    border-style: solid;
    border-width: 2px;
    border-color: turquoise;
}

.signUpOrParagraph{
    max-width: 500px;
    font-size: small;
    color: gray;
    text-align: center;
    justify-content: center;
    margin: 1rem auto;
    overflow: hidden;
  }
  
  .signUpOrParagraph:before,
  .signUpOrParagraph:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .signUpOrParagraph:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .signUpOrParagraph:after {
    left: 0.5em;
    margin-right: -50%;
  }

.signUpParagraph{
    font-size: small;
    color: gray;
    text-align: start;
    justify-content: center;
    margin: auto 0 auto 0;
}

.signUpToLogInText{
    font-size: medium;
    color: black;
    margin: 3rem 0 0 0;
}

.toggler{
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
}

.toggler:active, .toggler:hover{
    background-color: darkblue;
}

.topSideBar{
    justify-content: flex-start;
    align-items:flex-start;

}

.wellcomeText{
    color:black;
    position: absolute;
    left: var(--sidebar-welcome-text-left);
    top: 0.5rem;
    transition: left 0.5s;
}

.whiteLink{
    color: white;
    text-decoration: none;
}